/* =======================================================
	* Website Name: Jack Luo - v2.0.0
	* Website URL: https://jack-luo.com/
	* Author: Jack Luo
	* License: None
	======================================================== */

/* 
	Font
*/

@font-face {
  font-family: "Open Sans Normal";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../../webfonts/open-sans/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway Normal";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../../webfonts/raleway/Raleway-Regular.ttf) format("truetype");
}

/* 
	Basics 
*/

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Raleway Normal", Verdana, sans-serif;
}

p,
a,
li,
th,
td {
  font-family: "Open Sans Normal", Verdana, sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

h5,
h6 {
  color: #eeeeee;
}

p {
  font-size: 1em;
}

a {
  color: darkgrey;
  border-bottom: 1px dotted darkgrey;
  text-decoration: none;
  transition: color 400ms, border-bottom 400ms;
}

a:hover {
  color: black;
  border-bottom: 1px dotted black;
}

button {
  background-color: white;
  color: blue;
  border: 2px solid blue;
  padding: 0.5em 1.25em;
}

img {
  opacity: 0.75;
  transition: opacity 400ms;
}

img:hover {
  opacity: 1;
}

input[type="text"] {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.25em;
}

/* 
	Classes 
*/

/* 
	IDs
*/

/*
	Other
*/

/* Scroll Bar */
