/* =======================================================
	* Website Name: Jack Luo - v2.0.0
	* Website URL: https://jack-luo.com/
	* Author: Jack Luo
	* License: None
	======================================================== */

/* 
	Font
*/

@font-face {
  font-family: "Open Sans Normal";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url();
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
th,
td,
button {
  font-family: Verdana, sans-serif;
}

/* 
	Basics 
*/

button {
  background-color: white;
  color: blue;
  border: 2px solid blue;
  padding: 10px 20px;
}

/* 
	Classes 
*/

/* 
	IDs
*/

/*
	Other
*/

/* Scroll Bar */
