/* =======================================================
	* Website Name: Jack Luo - v2.0.0
	* Website URL: https://jack-luo.com/
	* Author: Jack Luo
	* License: None
	======================================================== */

/* 
	Font
*/

@font-face {
  font-family: "Open Sans Normal";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../../webfonts/open-sans/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Raleway Normal";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../../webfonts/raleway/Raleway-Regular.ttf) format("truetype");
}

/* 
	Basics 
*/

/* Containers */

div {
  box-sizing: border-box;
}

header {
  text-align: center;
}

header,
footer {
  color: white;
}

body {
  background-color: black;
}

/* Text */

h1,
h2,
h3,
h4,
h5,
h6,
button,
input[type="text"],
input[type="submit"] {
  font-family: "Raleway Normal", Verdana, sans-serif;
}

p,
a,
li,
th,
td {
  font-family: "Open Sans Normal", Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

h5,
h6 {
  color: #999999;
}

p {
  font-size: 1em;
}

a {
  color: darkgrey;
  border-bottom: 1px dotted darkgrey;
  text-decoration: none;
  transition: color 400ms, border-bottom 400ms;
}

a:hover {
  color: black;
  border-bottom: 1px dotted black;
}

button {
  background-color: transparent;
  color: #7692ff;
  border: 2px solid #7692ff;
  padding: 0.5em 1.25em;
  border-radius: 8px;
  transition: background-color 400ms, color 400ms;
}

button:hover {
  background-color: #7692ff;
  color: white;
}

img {
  opacity: 0.75;
  transition: opacity 400ms;
}

img:hover {
  opacity: 1;
}

input[type="text"] {
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border 400ms;
}

input[type="text"]:focus {
  border: 1px solid grey;
}

input[type="submit"] {
  background-color: transparent;
  color: #7692ff;
  border: 2px solid #7692ff;
  padding: 0.5em 1.25em;
  border-radius: 8px;
  transition: background-color 400ms, color 400ms;
}

input[type="submit"]:hover {
  background-color: #7692ff;
  color: white;
}

th,
td {
  padding: 1em;
}

main {
  margin: 1em;
}

nav {
  background-color: #293638;
  opacity: 0.75;
  position: sticky;
  top: 0;
  transition: opacity 400ms;
  z-index: 20;
}

nav:hover {
  opacity: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Images and Icons */
.footer-icon {
  font-size: 2em;
  padding: 0.25em;
}

/* Combine those two together */
header {
  background: linear-gradient(
    0deg,
    rgba(57, 70, 72, 1) 0%,
    rgba(11, 14, 14, 1) 100%
  );
}

header h1 {
  padding: 0.5em;
  display: inline-block;
  border: 4px solid #ccc;
  color: #ccc;
  transition: color 400ms, border 400ms, text-shadow 400ms;
}

header h1:hover {
  border: 4px solid white;
  color: white;
  text-shadow: 0 0 5px #ffffff;
}

header a,
nav a {
  text-decoration: none;
  border-bottom: none !important;
  color: #ccc;
  transition: color 400ms, text-shadow 400ms;
}

header a:hover,
nav a:hover {
  color: white;
  text-shadow: 0 0 2px #ffffff;
}

nav h6 {
  padding: 0.5em;
  display: inline-block;
  margin: 0;
}

article {
  text-align: center;
}

/* 
	Classes 
*/

/* Container Properties */

.root-container {
  background-color: #394648;
  /* #394648; */
  /* 384547 */
  display: inline-block;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-item {
  padding: 2em;
  display: inline-block;
}

.info-box {
  border-radius: 2em;
  box-shadow: 0px 0px 10px darkgrey;
  background-color: white;
  padding: 1em;
  margin: 1em;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

/* Pages */

/* Changed into class for testing */
.page-one-normal {
  margin: auto;
  width: 100%;
  background-color: #ddd;
  transition: width 1000ms, background-color 1000ms, opacity 1000ms;
}

.page-one-small {
  margin: auto;
  width: 90%;
  background-color: #999;
  opacity: 0.5;
  transition: width 1000ms, background-color 1000ms, opacity 1000ms;
}

/* .full-page {
  opacity: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  background-color: #ddd;
  transition: width 1000ms, background-color 1000ms, opacity 1000ms;
}

.full-page:target {
  opacity: 1;
} */
/* Changed into class for testing */

/* Properties */

.typewriter-text {
  border-bottom: none;
}

/* Permanent Properties */

.text-align-center {
  text-align: center;
}

/* 
	IDs
*/

#nav-bar-button-open {
  color: black;
  border: 2px solid black;
  position: sticky;
  top: 1em;
  margin-top: 1em;
}

#nav-bar-button-close {
  color: white;
  border: 2px solid white;
  position: sticky;
  top: 1em;
  margin-top: 1em;
}

/*
	Bootstrap Based Classes
*/

/* Colors */
.lightgreen {
  color: #a5c882;
}

.darkgrey {
  color: #394648;
}

.white {
  color: #ffffff;
}

.copper {
  color: #9c7178;
}

.lightblue {
  color: #92bcea;
}

.darkblue {
  color: #7692ff;
}

.margin-y0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-y1 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.margin-y2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.margin-y3 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.margin-y4 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.margin-x0 {
  margin-left: 0;
  margin-right: 0;
}

.margin-x1 {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.margin-x2 {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.margin-x3 {
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.margin-x4 {
  margin-left: 1em;
  margin-right: 1em;
}

:root {
  --blue: #007bff;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --lightgreen: #a5c882;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
/*
	Other
*/

/* Media Queries */
@media screen and (max-width: 992px) {
  .col-3 {
    width: 33.33%;
  }
}

@media screen and (max-width: 768px) {
  .col-6 {
    width: 100%;
  }

  .col-4 {
    width: 50%;
  }

  .col-3 {
    width: 50%;
  }
}

@media screen and (max-width: 0px) {
  .col-6 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }
}

/* Scroll Bar */

/* Development */
